.hide { display:none; }
.invisible { visibility: hidden; }

.gallery {
	position: relative;
	overflow: hidden;
	background: url(../images/black_lozenge.png) repeat 0 0;
	height: 300px;
	/*box-shadow: inset 0 0 50px #000000;*/
}

	.gallery ol {
		position: absolute;
		height: 100%;
		/*width: 2200px;*/
		margin-left: -1100px;
		left: 50%;
	}

		.gallery ol li {
			position: absolute;
			margin: 0px 20px;
			height: 100%;
			cursor: pointer;
		}

			.gallery ol li .image {
				/* To vertically centre image. */
				position: relative;
				top: 50%;
			}
				.gallery ol li .image .expand {
					font-size: 20px;
					padding: 8px;
					background-color: rgba(0,0,0,0.5);
					height: 20px;
				}

				.gallery ol li .image img {
					width: 400px;
				}

			.gallery ol li.video .play {
				display: block;
				top: 50%;
				left: 50%;
				margin: -35px 0 0 -35px;

				font-size: 70px;
				text-shadow: 2px 2px 30px #000000;
			}

			.gallery ol li span {
				position: absolute;
				z-index: 10;

				color: #ffffff;
			}

			.gallery ol li .metadata {
				position: absolute;
				/*z-index: 11;*/
				bottom: 0;
				width: 100%;
				color: white;
				background-color: rgba(255,0,0,0.5);
				height: 50px;
			}

	.gallery .nav {
		/* Centre it */
		height: 40px;
		position: absolute;
		top: 50%;
		margin: -20px 10px 0;
		cursor: pointer;
		z-index: 20;
	}

		.gallery .nav a {
			color: #ffffff;
			font-size: 40px;
			text-decoration: none;
			opacity: 0.0;
			text-shadow: 2px 2px 30px #000000;
		}

		.gallery .nav a:hover {
			opacity: 1.0;
		}

		.gallery .nav a.disabled:hover { }

	.gallery .nav.next {
		right: 0;
	}

/*.gallery .shroud {
	background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%);

	position: absolute;
	height: 100%;
	width: 10%;
}*/

/*.gallery ol { float:left; }*/

/*.large li { display:none; }*/

/*.large li.active { display:block; }*/